
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<section class="hero image-as-background" style="background-image: url('assets/home.jpg?crop=entropy&dpr=2&fit=crop&fm=jpg&h=700&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300');">
  <div class="hero-container">
    <app-navbar></app-navbar>
      </div>
</section>

  <div class="heading" style=" height: 8vh; ">
    <br>
    <span >
      How to use SuburbScape?</span>
   </div>

   <h3 style="text-align: center; margin-left: 30px;">
    "Finding a new area to relocate to can be difficult, <br>but we believe SuburbScape makes this easier."</h3>
   <div style="display: flex; justify-content: center; align-items: center; margin-top: 40px; ">
    <div class="row">
      <div class="col-md-4" >
        <mat-card style="height: 100px; position: relative; width: 350px; background-color: rgb(213, 224, 239);">
          <div class="circle" style="position: absolute; top: 10%; left: 50%; transform: translate(-50%, -50%); width: 60px; height: 60px; border-radius: 50%; background-color: rgb(29, 4, 100);">
              <div class="number" style="color: white; text-align: center; font-weight: 200px;">1</div>
          </div>
          <h3 style="text-align: center; margin-left: 30px; margin-top: 50px;">
            "Share your rental budget"</h3>

      </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card style="height: 100px; position: relative; width: 350px; background-color: rgb(213, 224, 239); ">
          <div class="circle" style="position: absolute; top: 10%; left: 50%; transform: translate(-50%, -50%); width: 60px; height: 60px; border-radius: 50%; background-color: rgb(29, 4, 100);">
              <div class="number" style="color: white; text-align: center; font-weight: 200px;">2</div>
          </div>
          <h3 style="text-align: center; margin-left: 30px; margin-top: 50px;">
            "Select your profession"</h3>
      </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card style="height: 100px; position: relative; width: 350px; background-color: rgb(213, 224, 239);">
          <div class="circle" style="position: absolute; top: 10%; left: 50%; transform: translate(-50%, -50%); width: 60px; height: 60px; border-radius: 50%; background-color: rgb(29, 4, 100);">
              <div class="number" style="color: white; text-align: center; font-weight: 200px;">3</div>
          </div>
          <h3 style="text-align: center; margin-left: 30px; margin-top: 50px; font-family: Cambria;">
            "Rank your preferences"</h3>
      </mat-card>
      </div>
      </div>
      </div>

      <h3 style="text-align: center; margin-left: 30px; margin-top: 15px;">
        <span style="background-image: url('https://cw-contentful-assets.imgix.net/https%3A%2F%2Fimages.ctfassets.net%2Fwvozpes63uc8%2F1CrwvVr7sGZXcXLkcxk3gP%2F5323db2d2c82a41321c92abecb150786%2Fww-brush-pluto.png?ixlib=rails-4.1.0&auto=format&w=1182&fm=png&s=a70719cb6123a53ae2295252bf035619'); background-size: 100% auto;">
      "We consider everything you want and locate a neighborhood that fits your needs."</span>
    </h3>

    <div  style="display: flex; justify-content: center; align-items: center; ">
      <div class="row">
        <div class="col-md-4" >
          <img src ="assets/Golden Plains.png" height="250px" style="margin-left: 15px;">
        </div>
        <div class="col-md-4" >
          <div style="height: 250px; width: 400px; background-color: rgb(29, 4, 100); ">
            <br>
            <h3 style="text-align: left; margin-left: 20px; margin-right: 20px;  color: white;">
            <ul>
            <li>We choose a top suburb for you.</li>
            <li> We suggest options of suburbs to choose from.</li>
          <li>  You can view insights like schools, hospitals, distance to Melbourne.</li>
            </ul>

            </h3>
            <button mat-raised-button
        style=" height: 50px; width: 280px; margin-left: 50px;
        background-color: white; color: black;" (click)="explore()">
         Explore Regional Victoria Now
        </button>
          </div>
        </div>
        <div class="col-md-4" >
          <img src ="assets/Ballarat.png" height="250px" style="  margin-left: -30px;">
        </div>
      </div></div>
<br>
<footer>
  <p>&copy; 2023 SuburbScape.</p>
</footer>
