
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<section class="hero image-as-background" style="background-image: url('assets/home.jpg?crop=entropy&dpr=2&fit=crop&fm=jpg&h=700&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300');">
  <div class="hero-container">
    <app-navbar></app-navbar>
      </div>
</section>
<section *ngIf = !checked2 class="hero image-as-background" style="height: 100vh;  background-image: url('assets/Base2.png?crop=entropy&dpr=2&fit=crop&fm=jpg&h=700&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300');">
  <div class="hero-container">

    <mat-card style="background-color: rgba(0,0,0,.6); margin-left: 90px; width: 85%; margin-right: 10px; margin-top: 2%; height: 540px;">
      <p class="hero-title" style="margin-top: 20px;">
        Discover the regions
        </p>
        <p class="hero-subtitle2" style="text-align: center;">
          "To assist with financial security , let's explore  suitable accommodations in Regional Victoria."<br>
          &nbsp;
         </p>
      <div style="display: flex; justify-content: center; align-items: center;">
      <div class ="row">
      <div class="col-sm-7"  style="margin-left: 6%; background-color:white">
        <div class="bs-vertical-wizard">
          <ul>
            <li [class]="getClassname(completedCondition)">
                <p style="text-align: center; ">Step 1
                  <button mat-icon-button style="float: right;" (click)="openDialog1()">
                    <mat-icon>question_mark</mat-icon>
                  </button>
                  <i class="ico fa fa-check ico-green"></i>
                    <span class="desc">Please select your weekly rental budget
                  </span>
                </p>
                <mat-divider></mat-divider>
            </li>

            <li [class]="getClassname1(completedCondition1)">
              <p style="text-align: center; ">Step 2
                <button mat-icon-button style="float: right" (click)="openDialog2()">
                  <mat-icon>question_mark</mat-icon>
                </button>
                <i class="ico fa fa-lock ico-muted"  *ngIf=!icheck></i>
                <i class="ico fa fa-check ico-green"  *ngIf=icheck></i>
                  <span class="desc">Select your profession.(Select N/A if not applicable)

                  </span>
              </p>
              <mat-divider></mat-divider>
          </li>
          <li [class]="getClassname2(completedCondition2)">
            <p  style="text-align: center; ">Step 3
              <button mat-icon-button style="float: right" (click)="openDialog3()">
                <mat-icon>question_mark</mat-icon>
              </button>
              <i class="ico fa fa-lock ico-muted" *ngIf=!checked3></i>
              <i class="ico fa fa-check ico-green"  *ngIf=checked3></i>
                <span class="desc">    Rearrange the preferences <br>
                  (1 being the highest priority and 4 being the lowest)
                 </span>
            </p>
            <mat-divider></mat-divider>
        </li>
        <li [class]="getClassname2(completedCondition2)">
          <p  style="text-align: center; ">Step 4 <i class="ico fa fa-lock ico-muted" *ngIf=!checked3></i>
            <i class="ico fa fa-check ico-green"  *ngIf=checked3></i>
              <span class="desc">Search/ Reset</span>
          </p>
          <mat-divider></mat-divider>
      </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-4" >
        <div [class]="getClassname(completedCondition)">
        <div  style=" margin-top: 10px; display: flex; justify-content: left; align-items: right; ">
          <div class="col-sm-4">

            <mat-form-field style="  width: 140px;">
              <mat-label>Min</mat-label>
              <mat-select required="true" (selectionChange)="onOptionSelected($event)"
              id="minRent" name="minRent" [(ngModel)]="minRent" style="background-color: transparent;">
                <mat-option *ngFor="let option of options" [value]="option.value">{{ option.label }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-2" style="margin-left: 50px;">
            <mat-form-field style="width: 140px; margin-left: 30px;">
              <mat-label>Max</mat-label>
              <mat-select required="true"  id="maxRent" name="maxRent"
              [(ngModel)]="maxRent" style="background-color: transparent;"
              (selectionChange)="onMaxOptionSelected()">
                <mat-option *ngFor="let option of option1" [value]="option.value">{{ option.label }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        </div>
       <mat-form-field style="width: 280px; margin-left: 0px; margin-bottom: 3px;" *ngIf=checked>
        <mat-label >Professions</mat-label>
        <mat-select required="true"
        id="occ" name="occ" [(ngModel)]="occ" style="background-color: transparent;"
        (selectionChange)="onProfSelected()">
          <mat-option *ngFor="let option of occList" [value]="option.value">{{ option.label }}</mat-option>
        </mat-select>
      </mat-form-field><br>
      <div  style=" margin-top: 10px; display: flex; justify-content: left; align-items: left; ">
        <div class="col-sm-9">
      <div  cdkDropList class="example-list"
      (cdkDropListDropped)="drop($event)"  *ngIf=checked1>
        <div class="example-box" *ngFor="let item of items" cdkDrag style="background-color: rgba(193, 193, 207, 0.208)">
          {{item.title}}
        </div>
      </div>
      <br> &nbsp;
      </div>
      <div class="col-sm-2">
        <div *ngIf=checked1 style=" height: 124px; margin-left: 40px; width: 144px">
        <img  src="assets/reorder.gif" *ngIf=checked1 style="height: 120px; ">

        </div>
      </div>
    </div>

      <button mat-raised-button style="background-color: rgb(49 49 148 / 85%); color: white;
       margin-left: -160px; width: 140px;" *ngIf=checked1 (click)="reset()">
              Reset
      </button>
      <button mat-raised-button style="background-color: rgb(178 72 18 / 97%); color: white;
       margin-left: 20px; width: 140px;" *ngIf=checked1 (click)="search()">
              Search
      </button>
      </div>

      </div>
    </div>
      <br>
    </mat-card>
    <br>&nbsp;
      </div>
</section>

<section *ngIf=checked3 style=" background-color: rgba(255, 255, 255, 0.897);">
  <div style="height: 12vh;  text-align: center; background-color: rgb(29, 4, 100); "></div>
  <div  style="display: flex; justify-content: center; align-items: left;">
    <div class="row">
    <div class="col-sm-5" style=" background-color: rgb(52, 52, 49);margin-left: 50px;">
      <img [src]="imageUrl" style = "height: 270px; width: 100%">
      <h3 style="font-family: Cambria; margin-left: 20px; color:white">

        Based on your preferences we have arrived at
      </h3>
       <h1 style="font-family: Cambria; margin-left: 20px; color:white">
        {{this.suburb}}
       </h1>
       <div class="horizontal-line" style="margin-top: -5px; margin-bottom: 5px;"></div>

       <h3 style="font-family: Cambria; margin-left: 20px; color:white">
        {{this.desc}}<br>

         ***As of 2023, top three professions in this region that offer
          significant employment opportunities.
        </h3>
       <div class="horizontal-line"></div>
       <h3>
       <ul style="font-family: Cambria; margin-left: 40px; margin-top:7px; color:white">
        <li>{{this.top3Prof[0]}} </li>
        <li>{{this.top3Prof[1]}} </li>
        <li>{{this.top3Prof[2]}} </li>
       </ul>
      </h3>
      <div style="display: flex; justify-content: center; align-items: center;">
       <button mat-raised-button style="margin-top: 8px; height: 50px; width: 280px;
       background-color: rgb(49 49 148 / 85%); color: white;"
        (click)="scrollDown()">
         Locate {{this.suburb}} on map
        </button>
        </div>
        <br> &nbsp;
    </div>
    <div class="col-sm-6" style=" background-color: white; ">
      <div class="heading" style="text-align: center;">
        <br>
        <span style="background-image: url('https://cw-contentful-assets.imgix.net/https%3A%2F%2Fimages.ctfassets.net%2Fwvozpes63uc8%2F1CrwvVr7sGZXcXLkcxk3gP%2F5323db2d2c82a41321c92abecb150786%2Fww-brush-pluto.png?ixlib=rails-4.1.0&auto=format&w=1182&fm=png&s=a70719cb6123a53ae2295252bf035619'); background-size: 100% auto;
        margin-bottom: 20px;">
          At a glance</span>
       </div>
       <div style=" margin-top: 20px; display: flex; justify-content: center; align-items: center;">
        <div class="row">
          <div class="col-md-4" >
            <mat-card style="height: 100px; position: relative; width: 180px; background-color:rgb(52, 52, 49) ;">
              <div class="circular-image" style="position: absolute; top: 10%; left: 50%; transform: translate(-50%, -50%); width: 60px; height: 60px; border-radius: 50%; background-color: rgb(29, 4, 100);">
                <img src ="assets/house.png">
              </div>
              <h3 style="text-align: center; margin-top: 40px; color: white">
                Median Rent / Week <br>

                <mat-divider style="width: 80%; margin-left: 10%;"></mat-divider>
                {{this.rent}} AUD
              </h3>
          </mat-card>
          </div>
          <div class="col-md-4">
            <mat-card style="height: 100px; width: 190px; background-color:rgb(52, 52, 49) ;">
              <div class="circular-image" style="position: absolute; top: 10%; left: 50%; transform: translate(-50%, -50%); width: 60px; height: 60px; border-radius: 50%; background-color: rgb(29, 4, 100);">
                <img src ="assets/vehicle.png">
              </div>
              <h3 style="text-align: center; margin-top: 40px; color: white">
                  Drive to Melbourne <br>
                <mat-divider style="width: 80%; margin-left: 10%;"></mat-divider>
                {{this.distance}} Kms/ {{this.time}} mins
              </h3>
          </mat-card>
          </div>
          <div class="col-md-4">
            <mat-card style="height: 100px;margin-left: 5px;  width: 180px; background-color:rgb(52, 52, 49) ;">
              <div class="circular-image" style="position: absolute; top: 10%; left: 50%; transform: translate(-50%, -50%); width: 60px; height: 60px; border-radius: 50%; background-color: rgb(29, 4, 100);">
                <img src ="assets/crime.png">
              </div>
              <h3 style="text-align: center; margin-top: 40px; color: white;">
                  Crimes/ 1000 people <br>
                <mat-divider style="width: 80%; margin-left: 10%;"></mat-divider>
                {{this.crime}}
              </h3>
          </mat-card>

          </div>
        </div></div>
        <div  style=" margin-top: 50px; display: flex; justify-content: center; align-items: center;">
          <div class="row">
            <div class="col-md-4" >
              <mat-card style="height: 100px; width: 200px;  background-color:rgb(52, 52, 49) ;">
                <div class="circular-image" style="position: absolute; top: 10%; left: 50%; transform: translate(-50%, -50%); width: 60px; height: 60px; border-radius: 50%; background-color: rgb(29, 4, 100);">
                  <img src ="assets/school.png">
                </div>
                <h3 style="text-align: center; margin-top: 40px; color: white;">
                    Schools & Kindergartens <br>
                  <mat-divider style="width: 80%; margin-left: 10%;"></mat-divider>
                  {{this.schools}}
                </h3>

            </mat-card>
            </div>
            <div class="col-md-4" >
              <mat-card style="height: 100px; width: 200px; margin-left: 60px; background-color:rgb(52, 52, 49) ;">
                <div class="circular-image" style="position: absolute; top: 10%; left: 50%; transform: translate(-50%, -50%); width: 60px; height: 60px; border-radius: 50%; background-color: rgb(29, 4, 100);">
                  <img src ="assets/hospital-bed.png">
                </div>
                <h3 style="text-align: center; margin-top: 40px; color: white;">
                    Hospital <br>
                  <mat-divider style="width: 80%; margin-left: 10%;"></mat-divider>
                  {{this.hospital}}
                </h3>

            </mat-card>
            </div>
            </div></div>
              <div style="display: flex; justify-content: center; align-items: center;">
                <h2
                style="margin-left: 30px; font-family: Cambria;
                color: black; text-align: center; margin-top: 20px;">
                  Do you currently live in Victoria?
              </h2></div>
              <div style="display: flex; justify-content: center; align-items: center;">
              <div class="horizontal-line"
              style=" width: 40%;  border-color: #ced416;"></div></div>
              <div style="display: flex; justify-content: center; align-items: center;">
              <h2
              style="margin-left: 30px; font-family: Cambria;
              color: black; text-align: center; margin-top: 20px;">
                Compare your rent with the recommended suburb
            </h2>
            </div>
            <div  style="display: flex; justify-content: center; align-items: center;">
              <div class="row">
                <div class="col-md-6" >
                   <mat-form-field style="width: 250px;   margin-top: 5px; " *ngIf=checked>
                    <mat-label >Select City/ Council to compare</mat-label>
                    <mat-select
                    id="sub1" name="sub1" [(ngModel)]="sub1" style="background-color: transparent; height: 20px;"
                    (selectionChange)="compareRent()">
                      <mat-option *ngFor="let option of subListAll" [value]="option.value">{{ option.label }}</mat-option>
                    </mat-select>
                  </mat-form-field>


                </div>
                <div class="col-md-6" >

                  <div style="height: 150px; margin-left: -30px;">
                    <canvas style="margin-left: 40px; " id="Chartx" >{{ chart }}</canvas> <br>
                  </div>
                </div>
            </div> </div>
            <h3
            style="margin-left: 30px; font-family: Cambria;
            color: black; text-align: center; margin-top: -18px;">
              ** Suburb is part of a bigger city. E.g Clayton is part of City of Monash
          </h3>
          <div  style="display: flex; justify-content: center; align-items: center;">
            <div class="horizontal-line"
            style=" width: 40%;  border-color: #ced416;"></div> </div>
          <div  style="display: flex; justify-content: center; align-items: center;">
          <h2
          style="margin-left: 30px; font-family: Cambria;
          color: black; text-align: center;">
          <span style="background-image: url('https://cw-contentful-assets.imgix.net/https%3A%2F%2Fimages.ctfassets.net%2Fwvozpes63uc8%2F1CrwvVr7sGZXcXLkcxk3gP%2F5323db2d2c82a41321c92abecb150786%2Fww-brush-pluto.png?ixlib=rails-4.1.0&auto=format&w=1182&fm=png&s=a70719cb6123a53ae2295252bf035619'); background-size: 100% auto;
          margin-bottom: 20px;">
            Not Satisfied with your Recommendation? <br> </span>
            Choose from dropdown below to explore other recommended suburbs.

        </h2>
      </div>
      <div  style="display: flex; justify-content: center; align-items: center;">
          <mat-form-field style="width: 280px;  margin-bottom: 3px; margin-top: 10px; margin-left: 140px;" *ngIf=checked>
            <mat-label >Explore Other Similar Suburbs</mat-label>
            <mat-select
            id="sub" name="sub" [(ngModel)]="sub" style="background-color: transparent;"
            (selectionChange)="onSuburbSelected()">
              <mat-option *ngFor="let option of subList" [value]="option.value">{{ option.label }}</mat-option>
            </mat-select>
          </mat-form-field>
          </div>

         </div>
    </div>
    </div>
    <div style="display: flex; justify-content: right; align-items: right;">
      <div class="blue-box" style="margin-right: 100px; margin-top: -50px;" (click)="scrollToTop()">
        <mat-icon style="color: white;">arrow_upward</mat-icon>
      </div>
    </div>
    <br> &nbsp;
</section>
<section *ngIf=checked3 >
  <div style="height: 12vh;  text-align: center; background-color: rgb(29, 4, 100); "></div>
  <div style="display: flex; justify-content: right; align-items: right;" >
    <div class="col-sm-9">
      <div id="leafletMap"
      style="height: 600px; width: 100%;" >

    </div>
    </div>
    <div class="col-sm-3" style=" background-color: rgb(52, 52, 49);">
      <h3
      style="margin-left: 30px; font-family: Cambria; margin-top: 40px;
      color: white; text-align: left;">
        ** Click on the school <img src ="assets/school.png" style="height: 30px;">
        or  hospital <img src ="assets/hospital-bed.png" style="height: 30px;"> icons to view respective names
        You can also zoom in and zoom out the map at anytime or
        use reset button on the reset the map.
    </h3>
    <div style="display: flex; justify-content: center; align-items: center;">
      <button mat-raised-button
      style=" margin-left: 60px; height: 50px; width: 250px; background-color: rgba(148, 49, 49, 0.85); color: white;"
        (click)="resetMap()">
        Reset Map
      </button>
    </div>

      <h2
      style="margin-left: 30px; font-family: Cambria;
      color: white; text-align: center; margin-top: 20px;">
        Not Satisfied with your Recommendation ? <br>
    </h2>
    <div  style="display: flex; justify-content: center; align-items: center;">
      <div class="horizontal-line"
      style=" width: 60%;  border-color: #ced416;"></div> </div>
    <div style="display: flex; justify-content: center; align-items: center;">
        <button mat-raised-button
        style="margin-top: 25px; margin-left: 60px; height: 50px; width: 250px; background-color: rgb(49 49 148 / 85%); color: white;"
          (click)="scrollToTop()">
          Search Again
        </button>
        </div>
        <br> &nbsp;
    </div></div>
    <br> &nbsp;
</section>

<footer >
  <p>&copy; 2023 SuburbScape.</p>
  </footer>

