<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<section class="hero image-as-background" style="background-image: url('assets/home.jpg?crop=entropy&dpr=2&fit=crop&fm=jpg&h=700&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300');">
  <div class="hero-container">
    <app-navbar></app-navbar>
      </div>
</section>
<div style="background-color: #f4f4f4;">
  <div class="heading">
    <br>
  <span >Discover the regions</span><br>
  <span style=" font-size: 15px;">You select your needs and we will provide a list of recommended regions</span><br>
   </div>
   <br>
   <section style="margin-left: 20px;" class="general" >
    <div class="container">
      <div class="col-sm-5 animate fadeInUp delay-1000"  style="margin-left: 30px;">
        <form #myForm="ngForm" autocomplete="off" novalidate fxLayout="column wrap"
        fxLayoutAlign="center center" fxLayoutGap="10px" >
        <br>
        <div style="height: 60px;  border: 2px solid #000;
        padding: 20px; text-align: center;">
          <p  style="font-size: 16px; ">
        Choose your needs ->  Select Suburbs ->  View Details</p>
        </div>
        <div style="margin-left: 10px; margin-top: 5px; font-size: 18px;
        margin-top: 10px; ">
          1. Choose to search your next locality by <br>
          <mat-radio-group>

            <mat-radio-button value="1" (change)="radioButtonChange($event)">
             Job
            </mat-radio-button>
            <mat-radio-button value="2" (change)="radioButtonChange($event)">
              Rent
            </mat-radio-button>
        </mat-radio-group>
         </div>
         <div *ngIf = checked style ="margin-left: 15px; margin-top: 15px;font-size: 18px;">
          2. Please select your weekly rental budget <br>
          <p style="font-size: 15px;">**This will allow you to choose suburb in your budget rent.
          </p>
          <mat-form-field style="  width: 280px; margin-left: 10px;">
            <mat-label>Professions</mat-label>
            <mat-select required="true" (selectionChange)="onOccSelected($event)"
            id="occ" name="occ" [(ngModel)]="minRent" style="background-color: transparent;">
              <mat-option *ngFor="let option of occList" [value]="option.value">{{ option.label }}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button style="background-color: rgb(17, 17, 82); color: white;
          margin-left: 100px; margin-top: 0px;width: 140px;" (click)="searchSuburb()">
                   Search
                  </button>
        </div>
          <div *ngIf = checked1
          style=" margin-top: 15px;font-size: 18px; margin-left: 10px;">
            2. Please select your weekly rental budget <br>
            <p style="font-size: 15px;">**This will allow you to choose suburb in your budget rent.
            </p>
            <div class="container">
              <div class="col-sm-5">
                <mat-form-field style="  width: 140px; margin-left: 50px;">
                  <mat-label>Min</mat-label>
                  <mat-select required="true" (selectionChange)="onOptionSelected($event)"
                  id="minRent" name="minRent" [(ngModel)]="minRent" style="background-color: transparent;">
                    <mat-option *ngFor="let option of options" [value]="option.value">{{ option.label }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-5">
                <mat-form-field style="width: 140px; margin-left: 20px;">
                  <mat-label>Max</mat-label>
                  <mat-select required="true"  id="maxRent" name="maxRent" [(ngModel)]="maxRent" style="background-color: transparent;">
                    <mat-option *ngFor="let option of option1" [value]="option.value">{{ option.label }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <button mat-raised-button style="background-color: rgb(17, 17, 82); color: white;
        margin-left: 130px; margin-top: 0px;width: 140px;" (click)="search()">
                 Search
                </button>
         </div>
         <div *ngIf = checked2>
          <br><mat-divider style="width: 450px; "></mat-divider>
          <div style="margin-left: 10px; margin-top: 15px;font-size: 18px;">
            3. Please select your suburb of choice <br>
            <p style="font-size: 15px;">**
               You can view suburb details to assist in your decision-making.</p>
           </div>
           <mat-form-field style=" width: 300px; margin-left: 40px; margin-top: 15px;">
            <mat-label>Please select region</mat-label>
            <mat-select required="true" id="suburb" name="suburb" [(ngModel)]="suburb"
            (selectionChange)="onOptionSelectedSuburb($event)"
            style="background-color: transparent; ">
              <mat-option *ngFor="let option of suburb_list" [value]="option.value">{{ option.label }}</mat-option>
            </mat-select>
          </mat-form-field>
          <p class="general" style="font-size: 16px; background-color: rgb(215, 215, 32);">
            The map shows which suburbs are included in the list mentioned above.</p>
         </div>


        </form>

        </div>
        <div class="col-sm-7" style="margin-top: 10px; margin-left: 20px; ">
          <p class="general" style="font-size: 16px; text-align: center; ">
            Five regions in Victoria compose of
            all 48 regional and rural council areas across the state. </p>
          <div id="leafletMap" style="height: 500px; width: 700px;" ></div>
        </div>


    </div>
    </section>

    <div *ngIf = checked2 style="margin-left: 50px; margin-right: 50px; margin-top: 30px;">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
            Local Government Area Info
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class ="general" *ngIf = checked3 style="font-size: 18px;">{{this.desc}} </p><br>
          <br>
          <div class="container" *ngIf = checked3>
            <div class="col-sm-4">
              <div class="container" *ngIf = checked3>
                <div class="col-sm-2" >
                  <img *ngIf = checked3 src="assets/house.png"
                  style="height: 50px;margin-left: 20px;"
                  >
                </div>
                <div class="col-sm-10" style="margin-left: 25px;">
                  <br>
                  <p >Median Rent per week <br>
                    <span >{{this.rent}} </span>AUD per week </p> <br>
                </div>
                </div>

          </div>
          <div class="col-sm-3" >
            <div class="container" *ngIf = checked3>
              <div class="col-sm-2" >
                <img *ngIf = checked3 src="assets/vehicle.png"
                style=" margin-left: -80px; height: 60px;">
              </div>
              <div class="col-sm-10" style=" margin-left: -50px;">
                <br>
                <p>Distance to Melbourne<br>
                  <span >{{this.distance}} </span> Kms </p> <br>
              </div>
              </div>

        </div>

        <div class="col-sm-3">
          <div class="container" *ngIf = checked3>
            <div class="col-sm-2" >
              <img *ngIf = checked3 src="assets/clock.png"
              style="margin-left: -60px; height: 55px">
            </div>
            <div class="col-sm-10" style="margin-left: -35px;">
              <br>
              <p>Drive to Melbourne<br>
                <span >{{this.time}} </span> mins approximately</p> <br>
            </div>
            </div>

      </div>
      <div class="col-sm-3">
        <div class="container" *ngIf = checked3>
          <div class="col-sm-2" >
            <img *ngIf = checked3 src="assets/crime.png"
            style=" margin-left: -40px; height: 60px;">
          </div>
          <div class="col-sm-10" style="margin-left: -15px;">
            <br>
            <p>Reported Crimes <br> per 1000 people
              <span >{{this.crime}} </span>  </p> <br>
          </div>
          </div>

    </div>
          </div>


        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Employment, Medicare and Safety Info
            </mat-panel-title>

          </mat-expansion-panel-header>
          <div class="container" style="margin-left: 10px;">
            <div class="col-sm-6">
              <p *ngIf = checked3>
                As of 2023, the top three professions in this region that offer
                significant employment opportunities.<br>
                  </p> <br>
                  <div style="height: 240px;">
                    <canvas style="margin-left: 40px; " id="Chartx" >{{ chart }}</canvas> <br>
                  </div>
          </div>
          <div class="col-sm-3">
            <div style="height: 50px;"> </div>
            <img *ngIf = checked3 src="assets/hospital-bed.png"
            style=" margin-left: 100px; height: 60px;">
            <br>

            <p style=" margin-left: 70px;">Hospitals in <br> this region <br>
              <mat-divider style="width: 100px; margin-bottom: 10px;"></mat-divider>
              <span style="margin-left: 60px; font-size: 20px;">{{this.hospital}} </span>  </p> <br>

          </div>
          <div class="col-sm-3">
            <img *ngIf = checked3 src="assets/school.png"
            style=" margin-left: 90px; height: 60px;">
            <br>
            <p style=" margin-left: 60px;">Schools in this region  <br>
              <mat-divider style="width: 150px; margin-bottom: 10px;"></mat-divider>
              <span style="margin-left: 50px; font-size: 20px; ">{{this.schools}} </span>  </p> <br>

              <img *ngIf = checked3 src="assets/nursery.png"
              style=" margin-left: 90px; height: 60px;">
              <br>
              <p style=" margin-left: 60px;">Kindergartens in this region<br>
                <mat-divider style="width: 175px; margin-bottom: 10px;"></mat-divider>
                <span style="margin-left: 60px; font-size: 20px;">{{this.nursery}} </span>  </p> <br>

          </div>
        </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div style="height: 30px;"></div>
    <div class="blue-box" style="margin-left: 1160px;" (click)="scrollToTop()">
      <mat-icon style="color: white;">arrow_upward</mat-icon>
    </div>
    <div style="height: 10px;"></div>
</div>
<footer>
  <p>&copy; 2023 SuburbScape.</p>
</footer>
