
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<section class="hero image-as-background" style="background-image: url('assets/home.jpg?crop=entropy&dpr=2&fit=crop&fm=jpg&h=700&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300');">
  <div class="hero-container">
    <app-navbar></app-navbar>
      </div>
</section>
<div style="background-color: #f4f4f4;">
<div class="heading">
  <br><br>
<span > Explore Victorian Regions by entering your preferred criteria</span>
 </div>
 <mat-divider style="width: 75%; margin-left: 170px;"></mat-divider>
 <br>
 <section style="margin-left: 100px; "  >
  <div class="container">
    <div class="col-sm-6 animate fadeInUp delay-1000" style="margin-top: 10px;" >
      <form #myForm="ngForm" autocomplete="off" novalidate fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px" >
      <p style="font-size: 18px; text-align: center; margin-right: 60px;">Rental - Price </p>
          <p style="text-align: center; margin-right: 60px;"> <span style="color: red;">*</span> Please select your weekly rental budget</p>
      <div class="container">
        <div class="col-sm-5">
          <mat-divider style="width: 500px; "></mat-divider>
          <mat-form-field style="margin-top: 40px; ">
            <mat-label>Min</mat-label>
            <mat-select required="true" (selectionChange)="onOptionSelected($event)" id="minRent" name="minRent" [(ngModel)]="minRent" style="background-color: transparent;">
              <mat-option *ngFor="let option of options" [value]="option.value">{{ option.label }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-5">

          <mat-form-field style="margin-top: 40px; ">
            <mat-label>Max</mat-label>
            <mat-select required="true"  id="maxRent" name="maxRent" [(ngModel)]="maxRent" style="background-color: transparent;">
              <mat-option *ngFor="let option of option1" [value]="option.value">{{ option.label }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
        <button mat-raised-button style="background-color: rgb(17, 17, 82); color: white;
        margin-left: 180px; margin-top: 20px;width: 140px;" (click)="search()">
                 Search
                </button>
      </form>
    </div>
    <div class="col-sm-6" style="margin-top: 10px;">
      <p style="font-size: 18px; text-align: center; margin-left: 20px;margin-right: 60px; margin-bottom: 50px;">Weekly Median Rent Across Different Regions in Victoria </p>
        <app-map ></app-map>
    </div>
  </div>
</section>
<div style="height: 30px;"></div>
</div>
<footer>
  <p>&copy; 2023 SuburbScape. <br> TA04</p>
</footer>









