<mat-toolbar>

  <img src = "assets/Logo.png" style="margin-top: -20px; height: 220px;">
  <span class="example-spacer"></span>
  <button mat-button  (click)="home()" style="color: white;">
    <mat-icon>home</mat-icon>
  Home
  </button>
  <span style="color: white;">
  &nbsp;&nbsp;|&nbsp;&nbsp;
  </span>
  <button mat-button  (click)="explore()" style="color: white;">
    <mat-icon>explore</mat-icon>
   Explore Regional Victoria
  </button>
  <span style="width: 50px;"></span>

  </mat-toolbar>
