<mat-toolbar>

  <span class="heading" style="margin-left: 20px; color: white;">SUBURBSCAPE

  </span>
  <span class="example-spacer"></span>
  <button mat-button  (click)="home()" style="color: white;">
    <mat-icon>home</mat-icon>
  Home
  </button>
  <span style="color: white;">
  &nbsp;&nbsp;|&nbsp;&nbsp;
  </span>
  <button mat-button  (click)="explore()" style="color: white;">
    <mat-icon>explore</mat-icon>
   Explore Regional Victoria
  </button>
  <span style="color: white; border: 2px solid transparent;
  border-radius: 4px;">
  &nbsp;&nbsp;|&nbsp;&nbsp;
  </span>

  <button mat-button
  (click)="about()" style="color: white;  border: 2px solid transparent;
  border-radius: 4px;">
    <mat-icon>info</mat-icon>
   About
  </button>

  <span style="width: 50px;"></span>

  </mat-toolbar>
