
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<section class="hero image-as-background" style="background-image: url('assets/home2.jpg?crop=entropy&dpr=2&fit=crop&fm=jpg&h=700&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300');">
  <div class="hero-container">
    <app-navbar></app-navbar>
    <p style=" margin-top: 30px;color: white;
		font-size: 18px;
    text-align: center;">
    Recommended Regional Suburbs
    </p>
    <div class="card-container">
    <mat-card style ="height : 350px; overflow-y: auto;">
      <div style="height: 80px">
      <button mat-raised-button style="margin-top: 10px; margin-left:40px; height: 40px;
       width: 120px; background-color: rgb(17, 17, 82); color: white; margin-bottom: 20px;"
        routerLink="/explore">
        <mat-icon>arrow_back</mat-icon>
       Back
      </button>
    </div>
    <cdk-accordion class="example-accordion">
      <cdk-accordion-item
        *ngFor="let item of items; let index = index;"
        #accordionItem="cdkAccordionItem"
        class="example-accordion-item"
        role="button"
        tabindex="0"
        [attr.id]="'accordion-header-' + index"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + index">
        <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
          {{ item.LGA }}
          <span class="example-accordion-item-description">
            Click to {{ accordionItem.expanded ? 'close' : 'open' }}
          </span>
        </div>
        <div class = "example-accordion-item-body container"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index">
        <div class="col-sm-5" style="margin-left: 20px;">
          <mat-divider style="width: 100%;"></mat-divider>
          &nbsp;
          <br>

          <i><b>Description</b></i> - {{item.Description}} <br>
          <mat-divider style="width: 100%;"></mat-divider>
          &nbsp; <br>
          <i><b>Median Rent</b></i> - {{item.Median}}  / week<br>
          <mat-divider style="width: 100%;"></mat-divider>
          &nbsp; <br>
          <i><b>Crime Data</b></i> -  <br>
          <mat-divider style="width: 100%;"></mat-divider>
          Reported Offence Count - {{item.Crime}} <br>
          Rate of Crime per 100000 people - {{item.CrimePerData}} <br>
          &nbsp;
        </div>
        <div class="col-sm-5">
          Add image here
        </div>

      </div>

      </cdk-accordion-item>
    </cdk-accordion>
    <p>&nbsp;</p>
  </mat-card>

</div>



  </div>



