
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<section class="hero image-as-background" style="background-image: url('assets/home.jpg?crop=entropy&dpr=2&fit=crop&fm=jpg&h=700&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300');">
  <div class="hero-container">
    <app-navbar></app-navbar>
      </div>
</section>
<div style="height: 59%;">
<h3 style="margin-left: 100px; margin-right: 100px; margin-top: 50px;">"SuburbScape" is a comprehensive website designed to assist individuals seeking to
  relocate to a new suburb in regional Victoria. The platform employs a Content-based
   Filtering Recommendation System to provide personalized and relevant recommendations
   for suburb choices based on user preferences and requirements. </h3>
  </div>
   <footer>
    <p style="font-size: 15px!important">&copy; 2023 SuburbScape. <br>All rights reserved.</p>
  </footer>










