
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<section class="hero image-as-background" style="background-image: url('assets/home.jpg?crop=entropy&dpr=2&fit=crop&fm=jpg&h=700&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300');">
  <div class="hero-container">
    <app-navbar ></app-navbar>
    <p class="hero-title animate fadeInLeft delay-600" style="margin-left: 80px;">
      Discover New Beginning in Regional <br> &nbsp;Victoria
      </p>


      <p class="hero-subtitle2 animate fadeInLeft delay-1000">
       "Explore affordable housing, serene lifestyle & build stronger connections"
      </p>

      <button mat-raised-button style="margin-top: 50px; margin-left: 450px; height: 50px; width: 280px;"
      (click)="explore()">
      <mat-icon>explore</mat-icon>
       Explore Regional Victoria
      </button>
      <br>&nbsp;<br>
      <div class="scroll-down-arrow" style="align-content: center;">
        <span style="margin-left: 580px; margin-top: 200px;" (click)="scrollDown()"></span></div>
      </div>
</section>
<div style="height: 12vh;  text-align: center; background-color: rgb(29, 4, 100); "></div>

<div style="background-color: #f4f4f4;">
  <br><br>
<div class="container1" style="margin-left: 50px;">
  <div class="col-sm-4">
    <div class="heading">
      <br>
      <span > Our Moto</span>
     </div>
     <mat-divider style="width: 100%; margin-left: 35px;  margin-right: 35px"></mat-divider>
     <br>
     <h3 style="text-align: center; margin-left: 30px;">
      "We aim to empower Victorian residents to make well-informed decisions about relocation,
      thereby improving their living standards and promoting financial security."</h3>
      <br>
      <div class="container1" >
        <div class="col-sm-5" style="margin-left: 50px;">
          <div class="heading">
            <br>
            <span >Intended Audience</span>
           </div>


        </div>
        <div class="col-sm-5">
        <img src = "assets/age.svg" style="height: 200px; margin-top: -50px;">
        </div>
      </div>
  </div>
  <div class="col-sm-7">
    <div class="heading" style="margin-left: 100px;">
      <br>
    <span > What people love about regional victoria?</span>
     </div>
     <mat-divider style="width: 75%; margin-left: 130px;"></mat-divider>
     <br>
     <p style="text-align: center; font-size: 15px; margin-bottom: 30px; margin-left: 120px;">
      We asked people to rank which factors influenced their decision to move regionally.</p>
 <br>
 <div class="container" style="margin-left: 70px;">
  <div class="row">
    <div class="col-md-4" >
      <h1><span class="counter" style="color: #00bce4; font-size: 40px;" [@counterAnimation]="'enter'" #counterElement>{{ counter }} %</span></h1>
      <h3>said regional areas offer better <br>lifestyle/amenity</h3>
    </div>
    <div class="col-md-4">
      <h1><span class="counter" style="color: green; font-size: 40px;" [@counterAnimation1]="'enter'" #counterElement1>{{ counter1 }} %</span></h1>
      <h3>said they loved being closer to the natural environment</h3>
    </div>
    <div class="col-md-4">
      <h1><span class="counter" style="color: red; font-size: 40px;" [@counterAnimation2]="'enter'" #counterElement2>{{ counter2 }} %</span></h1>
      <h3>said they are satisfied with affordable <br>housing</h3>
      <br>
      <div class="blue-box" style="margin-left: 140px;" (click)="scrollToTop()">
        <mat-icon style="color: white;">arrow_upward</mat-icon>
     </div>
    </div>
  </div>
</div>
  </div>
</div>
</div>
<div style="height: 12vh;  text-align: center; background-color: rgb(29, 4, 100);">
  <div class="scroll-down-arrow" style="align-content: center;">
    <span style="margin-left: 580px; margin-top: 200px;" (click)="scrollLater()"></span>
  </div>

 </div>
 <div style="background-color: #f4f4f4;">
 <div class="heading">
  <br><br>
<span > Why SuburbScape?</span>
 </div>
 <mat-divider style="width: 75%; margin-left: 200px;"></mat-divider>
 <br>
 <p style="text-align: center; font-size: 17px; margin-bottom: 30px; margin-left: 50px;">
 Our platform not only aids users in discovering budget-friendly
 regions within Regional Victoria but is also committed to enhancing
 the experience by incorporating interactive features as below</p>
 <br>
 <div class="container1" style="margin-left: 100px;">
  <div class="col-sm-2" [ngClass]="{'animate fadeInLeft delay-600': applyClass}" style="margin-left: 50px;">
    <img src = "assets/Maps.png" style="height: 250px; margin-top: -120px;">
    <img src = "assets/health.png" style="height: 220px; margin-top: -70px;">

  </div>
  <div class="col-sm-2" [ngClass]="{'animate fadeInLeft delay-800': applyClass}"  style="margin-left: 40px;">
    <img src = "assets/community.png" style="height: 250px;">

  </div>
  <div class="col-sm-2" [ngClass]="{'animate fadeInLeft delay-1000': applyClass}"  style="margin-left: 40px;">

    <img src = "assets/compare_suburbs.png" style="height: 250px;">

  </div>
  <div class="col-sm-2" [ngClass]="{'animate fadeInLeft delay-1200': applyClass}"  style="margin-left: 120px;">
    <img src = "assets/school.png" style="height: 250px; margin-top: -120px;">
    <img src = "assets/content_based.png" style="height: 250px; margin-top: -70px;">
    <div class="blue-box" style="margin-left: 260px;  margin-top: -70px;" (click)="scrollToTop()">
      <mat-icon style="color: white;">arrow_upward</mat-icon>
   </div>
  </div>

</div>
  </div>

<footer>
  <p>&copy; 2023 SuburbScape. <br>TA04</p>
</footer>



