.heading{
  font-family: "Cambria", sans-serif;
  font-size: 25px;
  background-color: transparent;
  height: 12vh;  text-align: center; color: rgb(8, 8, 8);
}

.hero {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
  backface-visibility: hidden;
	height: 100vh;
	overflow: hidden;
	position: relative;
	width: 100%;
	@media screen and (min-width:640px) {
		background-position: 50% 0;
	}


	&:after {
		background-color: rgba(62,92,135,.35);
		bottom: 0;
		content: '';
		left: -2000%;
		position: absolute;
		right: -2000%;
		top: 0;
		z-index: 1;
	}
}

.container1 {
  display: flex;
  margin: 0px;
  padding: 0px;
}


.hero-container {
	box-sizing: border-box;
	height: auto;
	padding: 30px 50px;
	position: relative;
	z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;

	@media screen and (min-width:640px) {
		height: 100%;
	}

	p {
		color: white;
		font-size: 13px;
    font-weight: bold;
		letter-spacing: 6px;
    opacity: 0.8;
    text-transform: uppercase;
    text-align: left;
	}
}



.hero-title {
	color: white;
	letter-spacing: 1px;
  line-height: 1.1;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  @media screen and (min-width:640px) {
		font-size: 3.1vw;
	}
}

.hero-subtitle {
	color: white;
	letter-spacing: 1px;
  line-height: 1.1;
  margin: 5px 0;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  @media screen and (min-width:640px) {
		font-size: 2vw;
	}
}

.hero-subtitle2 {
	color: white;
	letter-spacing: 1px;
  line-height: 1.1;
  margin: 5px 0;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  @media screen and (min-width:640px) {
		font-size: 1.6vw;
	}
}

.main-content {
  height: auto;
	padding: 30px 50px;
	position: relative;
  width: 60%;
}

.main-content p {
  color: #25373D;
  font-size: 18px;
  line-height: 1.5;
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-12px, 0, 0);

    transform: translate3d(-12px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.animate {
    animation-duration: 0.75s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}



.delay-600 {
  animation-delay: 0.6s;
}
.delay-800 {
  animation-delay: 0.8s;
}

.delay-1000 {
  animation-delay: 1s;
}

.delay-1200 {
  animation-delay: 1.2s;
}




.scroll-down-arrow {
  position: relative;
  width: 40px;
  height: 40px;
  border: 10px solid transparent;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.scroll-down-arrow span {
  position: absolute;
  bottom: -10px;
  width: 30px;
  height: 030px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  animation: arrowBounce 1s infinite;
}

@keyframes arrowBounce {
  0%, 100% {
    transform: rotate(45deg) translateY(0);
  }
  50% {
    transform: rotate(45deg) translateY(10px);
  }
}

@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 200px;
}

.col-md-4 {
  text-align: center;
  padding-bottom: 50px;

}



.counter {
  animation-duration: 1s;
  animation-delay: 0s;
}

i {
  font-size: 20px !Important;
}

@media (max-width: 991px) {
  .col-md-4 {
    width: 50%;
    margin: auto auto;
  }


}

.animate-element {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  left: 50%;
  top: 1200px;
  transform: translateX(-50%);
}

footer {
  background-color: rgb(29, 4, 100);
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.arrow-container {
  margin-left: 160px;
  bottom: 20px;
  right: 20px;
}

.blue-box {
  width: 30px;
  height: 30px;
  background-color: rgb(29, 4, 100);
  display: flex;
  justify-content: center;
  align-items: center;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

body {
	font-family: Montserrat,sans-serif;

  @media (min-width: 768px) {
    height: 100vh;
  }

  >h1{
    text-align:center;
    margin-bottom: 30px;
  }
}

.vertical-line {
  width: 2px;
  height: 100px;
  background-color: #fff;
}

.custom-card {
  background-color: rgba(0, 0, 0, 0.6);
  margin-left: 800px;
  margin-right: 50px;
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.custom-card .vertical-line {
  position: absolute;
  left: 30px;
  top: 10px;
  width: 2px;
  height: 150px;
  background-color: #fff;
}

.custom-card p.hero-subtitle2 {
  text-align: left;
  margin-left: 75px;
  position: relative;
  top: -30px;
}

.circle {
  width: 60px;
  height: 60px;
  background-color: rgb(29, 4, 100);
  border-radius: 50%;
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.yellow-underlined {
  border-bottom: solid 10px #ffca0a;
  line-height: .35em;
  margin-top: 0.65em!important;
  display: inline-block;
  padding-left: 0.15em;
  padding-right: 0.15em;
}






