
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<section class="hero image-as-background" style="background-image: url('assets/Ballarat.jpg?crop=entropy&dpr=2&fit=crop&fm=jpg&h=700&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300');">
  <div class="hero-container">
    <app-navbar ></app-navbar>
    <mat-card style=" background-color: rgba(0,0,0,.6); margin-top: 50px;
    margin-left: 50px; margin-right: 50px;" class="animate fadeInLeft delay-600 ">
      <p class="hero-title " style="margin-left: 80px;">
        Discover a new beginning with affordability
        in the beautiful landscapes of Regional Victoria.
        </p>
        <p class="hero-subtitle2">
          "Explore affordable housing, serene lifestyle & build stronger connections"<br>
          &nbsp;
         </p>
         <button mat-raised-button
         style="margin-top: 0px; margin-left: 400px; height: 50px; width: 280px;
         margin-bottom: 10px; "
         (click)="explore()">
         <mat-icon>explore</mat-icon>
          Explore Regional Victoria
         </button>

    </mat-card>

    <div class="scroll-down-arrow" style="align-content: center;">
      <span style="margin-left: 580px; margin-top: 200px;" (click)="scrollDown()"></span>
    </div>
    <mat-card style=" background-color: rgba(0,0,0,.6); margin-top: -10px;
    margin-left: 850px; margin-right: 50px; width: 280px" >
    <button mat-raised-button
    style=" margin-top: 0px; margin-left: 20px;
    width: 220px; margin-bottom: 10px; margin-top: 20px;"
    (click)="scrollDown()">
     Why Regional Victoria?
    </button>
    <button mat-raised-button
    style=" margin-top: 5px; margin-left: 20px;
    width: 220px; margin-bottom: 10px;"
    (click)="scrollLater()">
     How SuburbScape Works?
    </button>
    </mat-card>
       </div>
</section>
<div style="height: 12vh;  text-align: center; background-color: rgb(29, 4, 100); "></div>
<div style="background-color: #edd7bc1c;">
<div class="heading">
  <br>
  <span style="background-image: url('https://cw-contentful-assets.imgix.net/https%3A%2F%2Fimages.ctfassets.net%2Fwvozpes63uc8%2F1CrwvVr7sGZXcXLkcxk3gP%2F5323db2d2c82a41321c92abecb150786%2Fww-brush-pluto.png?ixlib=rails-4.1.0&auto=format&w=1182&fm=png&s=a70719cb6123a53ae2295252bf035619'); background-size: 100% auto;">
     Our Motto</span>
 </div>

 <mat-divider style="width: 60%; margin-left: 20%;  margin-right: 20%"></mat-divider>
 <br>
 <h3 style="text-align: center; margin-left: 30px;">
  "We aim to empower Victorian residents to make well-informed decisions about relocation, <br>
  thereby improving their living standards and promoting financial security."</h3>

  <mat-divider style="width: 80%; margin-left: 130px;"></mat-divider>
  <div class="heading" style="margin-left: 100px;  height: 8vh; ">
    <br>
    <span style="background-image: url('https://cw-contentful-assets.imgix.net/https%3A%2F%2Fimages.ctfassets.net%2Fwvozpes63uc8%2F1CrwvVr7sGZXcXLkcxk3gP%2F5323db2d2c82a41321c92abecb150786%2Fww-brush-pluto.png?ixlib=rails-4.1.0&auto=format&w=1182&fm=png&s=a70719cb6123a53ae2295252bf035619'); background-size: 100% auto;">
      What people love about regional Victoria?
    </span>
  </div>
     <p style="text-align: center; font-size: 15px; margin-bottom: 15px; margin-left: 120px;">
      We asked people to rank which factors influenced their decision to move regionally.</p>
    <div class="container" style="margin-left: 70px;">
      <div class="row">
        <div class="col-md-4" >
          <img src ="assets/amenities.png" height="70px" style="margin-bottom: 25px;">
          <h1><span class="counter" style="color: rgb(68, 47, 125); font-size: 35px; margin-top: 25px;" [@counterAnimation]="'enter'" #counterElement>{{ counter }} %</span></h1>
          <h3>Said regional areas offer better <br>lifestyle/amenity</h3>
        </div>
        <div class="col-md-4">
          <img src ="assets/life.png" height="70px" style="margin-bottom: 25px;">
          <h1><span class="counter" style="color: rgb(68, 47, 125); font-size: 40px;" [@counterAnimation1]="'enter'" #counterElement1>{{ counter1 }} %</span></h1>
          <h3>Said they loved being closer to the natural environment</h3>
        </div>
        <div class="col-md-4">
          <img src ="assets/affhouse.png" height="70px" style="margin-bottom: 25px;">
          <h1><span class="counter" style="color: rgb(68, 47, 125); font-size: 40px;" [@counterAnimation2]="'enter'" #counterElement2>{{ counter2 }} %</span></h1>
          <h3>Said they are satisfied with affordable <br>housing</h3>
          <br>
          <div class="blue-box" style="margin-left: 270px;" (click)="scrollToTop()">
            <mat-icon style="color: white;">arrow_upward</mat-icon>
          </div>
        </div>
        </div>
        </div>
  <div style="height: 12vh; margin-top: -40px;  text-align: center; background-color: rgb(29, 4, 100);">
          <div class="scroll-down-arrow" style="align-content: center;">
            <span style="margin-left: 600px; margin-top: 200px;" (click)="scrollLater()"></span>
          </div>

  </div>
</div>
<div style="background-color: #edd7bc1c;">
  <div class="heading" style=" height: 8vh; ">
    <br>
    <span >
      How to use SuburbScape?</span>
   </div>

   <h3 style="text-align: center; margin-left: 30px;">
    "Finding a new area to relocate to can be difficult, <br>but we believe SuburbScape makes this easier."</h3>
   <div class="container" style="margin-left: 60px; margin-top: 40px;">
    <div class="row">
      <div class="col-md-4" >
        <mat-card style="height: 100px; position: relative; width: 350px;">
          <div class="circle" style="position: absolute; top: 10%; left: 50%; transform: translate(-50%, -50%); width: 60px; height: 60px; border-radius: 50%; background-color: rgb(29, 4, 100);">
              <div class="number" style="color: white; text-align: center; font-weight: 200px;">1</div>
          </div>
          <h3 style="text-align: center; margin-left: 30px; margin-top: 50px;">
            "Share your rental budget"</h3>

      </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card style="height: 100px; position: relative; width: 350px; ">
          <div class="circle" style="position: absolute; top: 10%; left: 50%; transform: translate(-50%, -50%); width: 60px; height: 60px; border-radius: 50%; background-color: rgb(29, 4, 100);">
              <div class="number" style="color: white; text-align: center; font-weight: 200px;">2</div>
          </div>
          <h3 style="text-align: center; margin-left: 30px; margin-top: 50px;">
            "Select your profession"</h3>
      </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card style="height: 100px; position: relative; width: 350px; ">
          <div class="circle" style="position: absolute; top: 10%; left: 50%; transform: translate(-50%, -50%); width: 60px; height: 60px; border-radius: 50%; background-color: rgb(29, 4, 100);">
              <div class="number" style="color: white; text-align: center; font-weight: 200px;">3</div>
          </div>
          <h3 style="text-align: center; margin-left: 30px; margin-top: 50px;">
            "Rank your preferences"</h3>
      </mat-card>
      </div>
      </div>
      </div>
      <h3 style="text-align: center; margin-left: 30px; margin-top: -25px;">
      "We consider everything you want and locate a neighborhood that fits your needs."
    </h3>


    <div class="heading" style="margin-top: 5px;">
    </div>

    <div class="container" style="margin-left: 40px; margin-top: -60px;">
      <div class="row">
        <div class="col-md-4" >
          <div class="heading" style="margin-top: 5px; font-size: 19px;">
          <span style="background-image: url('https://cw-contentful-assets.imgix.net/https%3A%2F%2Fimages.ctfassets.net%2Fwvozpes63uc8%2F1CrwvVr7sGZXcXLkcxk3gP%2F5323db2d2c82a41321c92abecb150786%2Fww-brush-pluto.png?ixlib=rails-4.1.0&auto=format&w=1182&fm=png&s=a70719cb6123a53ae2295252bf035619'); background-size: 100% auto;">
            We choose a top suburb for you.</span></div>
        </div>
        <div class="col-md-4">
          <div class="heading" style="margin-top: 5px;  font-size: 19px;">
          <span style="background-image: url('https://cw-contentful-assets.imgix.net/https%3A%2F%2Fimages.ctfassets.net%2Fwvozpes63uc8%2F1CrwvVr7sGZXcXLkcxk3gP%2F5323db2d2c82a41321c92abecb150786%2Fww-brush-pluto.png?ixlib=rails-4.1.0&auto=format&w=1182&fm=png&s=a70719cb6123a53ae2295252bf035619'); background-size: 100% auto;">
            We suggest options of suburb to choose from.</span></div>

        </div>
        <div class="col-md-4">
          <div class="heading" style="margin-top: 5px;  font-size: 19px;">
          <span style="background-image: url('https://cw-contentful-assets.imgix.net/https%3A%2F%2Fimages.ctfassets.net%2Fwvozpes63uc8%2F1CrwvVr7sGZXcXLkcxk3gP%2F5323db2d2c82a41321c92abecb150786%2Fww-brush-pluto.png?ixlib=rails-4.1.0&auto=format&w=1182&fm=png&s=a70719cb6123a53ae2295252bf035619'); background-size: 100% auto;">
            You can view details like schools, hospitals, distance to Melbourne.</span></div>
          <br>
          <div class="blue-box" style="margin-left: 350px; margin-top: -50px;" (click)="scrollToTop()">
            <mat-icon style="color: white;">arrow_upward</mat-icon>
          </div>
        </div>
        </div>
        </div>


  </div>
  <br>
  <div class="container" style="margin-left: 40px; margin-top: -60px; background-color: #edd7bc1c;">
    <div class="row">
      <div class="col-md-4" >
      </div>
      <div class="col-md-4" >
        <button mat-raised-button
        style=" height: 50px; width: 280px;
        margin-bottom: 10px; background-color: rgb(29, 4, 100); color: white;"
        (click)="explore()">
         Explore Regional Victoria Now
        </button>
      </div>
      <div class="col-md-4" >
      </div>
    </div></div>


  <footer>
    <p>&copy; 2023 SuburbScape.</p>
  </footer>





